
<% if (has_config('comment.enable'))  { %>
<div id="gitalk-container"></div>
<link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
<script src="https://unpkg.com/gitalk/dist/gitalk.min.js"></script>
<script>
    let gitalk = new Gitalk({
        clientID: '<%= get_config('comment.clientID') %>',
        clientSecret: '<%= get_config('comment.clientSecret') %>',
        repo: '<%= get_config('comment.repo') %>',
        owner: '<%= get_config('comment.owner') %>',
        admin: '<%= get_config('comment.admin') %>',
        id: '<%= page.path %>',
        distractionFreeMode: false  // Facebook-like distraction free mode
    });

    gitalk.render('gitalk-container');
</script>
<% } %>